/* ----- */
/* layout styles */
/* ----- */

@font-face {
    font-family: logo-font;
    src: url(../fonts/PTM55FT.ttf);
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.page-content {
	flex: 1 0 auto;
}

#footer {
	flex: 0 0 auto
}

/* ----- */
/* logo */
/* ----- */

#header .logo-wrapper div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.logo-wrapper .logo2 {
	font-family: logo-font !important;
	font-size: 1.2em;
	color:#f23333 !important;
	font-weight:500;
}

#footer .logo-wrapper {
	font-size: 1.4em;
}


/* ------ */
/* Tester page */
/* ------ */

#test-body {

	padding-top: 20px
}

#test-body > div {

	max-width: 800px;
	margin: auto;
	
}

#test-body > div > div{
	margin-bottom: 30px;
}

.test-header {
	padding: 10pt;
	border-bottom: 1pt solid #f23333
}

.page-content > div {
	height: 100%;
}

.test-start {
	padding-top: 30px;
}



.test-text {
	display: inline-block;
	
	text-align: left;
	line-height: 2;
}

.main-button {
	cursor: pointer;
}

#test-view button {
	min-width: 96px;
	background: #eee;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 8px
}

