/* ----- */
/* layout styles */
/* ----- */

@font-face {
    font-family: logo-font;
    src: url(../fonts/PTM55FT.ttf);
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.page-content {
	flex: 1 0 auto;
}

#footer {
	flex: 0 0 auto
}

.h_divider {
	background-color: red;
	color: red;
	border-top: red solid 1px;
}
/* ----- */
/* logo */
/* ----- */

#header .logo-wrapper div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.logo-wrapper .logo2 {
	font-family: logo-font !important;
	font-size: 1.2em;
	color:#f23333 !important;
	font-weight:500;
}

#footer .logo-wrapper {
	font-size: 1.4em;
}


/* ------ */
/* Tester page */
/* ------ */

#test-body {

	padding-top: 20px
}

#test-body > div {

	max-width: 800px;
	margin: auto;
	
}

#test-body > div > div{
	margin-bottom: 30px;
}

.test-header {
	padding: 10pt;
	border-bottom: 1pt solid #f23333
}

.page-content > div {
	height: 100%;
}

.test-start {
	padding-top: 30px;
}



.test-text {
	display: inline-block;
	
	text-align: left;
	line-height: 2;
}

.main-button {
	cursor: pointer;
}

#test-view button {
	min-width: 96px;
	background: #eee;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 8px
}

.test-error-text {
	font-size: 1.6em;
	line-height: 2em;
}

.test-card {
	border: solid 1px #aaa;
	margin-bottom: 32px;
	border-radius: 4px;
	cursor: default;
}

.card-btn{
	padding: 20px;
} 
.card-btn > button {
	width: 100%
}

.test-details {
	padding: 0 16px 0 16px
}

.course .course-img .course-floated {
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50% , calc(-50% - 15px));
	    -ms-transform: translate(-50% , calc(-50% - 15px));
	        transform: translate(-50% , calc(-50% - 15px));
	padding: 0 16px 0 16px;
	height:40px;
	line-height:36px;
	text-align:center;
	border:2px solid #fff;
	color:#fff;
	border-radius:20px;
	opacity:0;
	z-index:10;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.course .course-img .course-floated:hover {
	background: white;
	color: #f23333;
}

/* TEST RESULT */



.result-view {
	max-width: 900px;
	margin: auto;
}

.result-header {
	margin-top: 24px;
	margin-bottom: 32px;
	text-align: center;
}

.result-categories{
	margin-bottom: 40px;
}
.result-categories > div{
	line-height: 1.8em;
	margin-bottom: 24px;
}

.category-name {
	font-weight: bold;
	color: #f23333
}

.result-items {
	padding-top: 32px;
}


/* INVENTORY */

.item-card {
	border-radius: 4px;
	border: #ffaaaa 2px solid;
	padding: 0 16px 0 16px;
	margin-bottom: 24px;
}

.item-title {
	padding-top: 8px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.5em;
	height: 3em;
}

.item-icon {
	border-radius: 2px;
}
