/* ----- */
/* layout styles */
/* ----- */

@font-face {
    font-family: logo-font;
    src: url(../fonts/PTM55FT.ttf);
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.page-content {
	flex: 1 0 auto;
}

#footer {
	flex: 0 0 auto
}

/* ----- */
/* logo */
/* ----- */

#header .logo-wrapper div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.logo-wrapper .logo2 {
	font-family: logo-font !important;
	font-size: 1.2em;
	color:#f23333 !important;
	font-weight:500;
}

#footer .logo-wrapper {
	font-size: 1.4em;
}


/* ------ */
/* Tester page */
/* ------ */

.test-header {
	padding: 10pt;
	border-bottom: 1pt solid #f23333
}

.page-content > div {
	height: 100%;
}