{% extends "./account.html" %}

{% block script %}
<script type="text/javascript">
    document.write(VK.Share.button({url: 'http://profsreda.com', title: 'Профсреда. Портал профиориентации', image: 'http://pushka.pythonanywhere.com/static/img/{{ share_avatar }}', noparse: true}));
    var tab = document.querySelectorAll('#vkshare0 > tbody')
    tab[0].style.display = 'none';
    var a_s = document.querySelectorAll("#vkshare0 > tbody > tr > td:nth-child(2) > a");
    a_s[0].click();

</script>

{% endblock %}