{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- About -->
        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
                    <div class="text-center">
                        <h2>Тест {{ test.name }}</h2>
                        <hr style="
                            background-color: red;
                            color: red;
                            border-top: red solid 1px;"/>
                    </div>

                    <div>
                        <p>{{ test.description | safe }}</p>

                    </div>

                    <div class="text-center">
                        <form action="/tests/{{ questionnaire.id }}/1/" method="post">
                            {{ form | crispy }}
                            {% csrf_token %}
                            <input type="submit" class="main-button" value="Начать" autofocus>
                        </form>
                    </div>


                </div>
            </div>
        </div>


{% endblock %}