{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-10 col-md-offset-1 course">

                <div class="text-center">
                    <h2>Тесты</h2>
                    <p class="lead">Узнай свои сильные стороны</p>
                </div>

                {% for test in tests %}
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <a href="/tests/views/test_overview/{{ test.id }}/" class="course-img">
                            <img src="{{ test.image.url }}" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <div class="course">
                            <div class="course-details">
                                <span class="course-category">Тест {{ test.name }}</span>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}