{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 tests">
                <div class="text-center">
                    <h2>Тесты</h2>
                    <p class="lead">Узнай свои сильные стороны</p>
                </div>
                    {% for test in tests %}
                        {% include 'partials/test-card.html' %}                            
                    {% endfor %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", (e) => { 
            makeSameElementsHeight(document.getElementsByClassName('test-details'))
        })
    </script>
{% endblock %}